<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="ClimboxEntities" connectionString="metadata=res://*/Model_Climbox.csdl|res://*/Model_Climbox.ssdl|res://*/Model_Climbox.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JDEVOPS\SQLEXPRESS;initial catalog=Climbox;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="RemitenteCorreoPorDefecto" value="xxx" />
    <add key="rutaPlantilla" value="C:\Plantillas\PlantillaComisionValorAlto.html" />
    <add key="usuario" value="xxxxx" />
    <add key="pass" value="xxxxxxx" />
    <add key="logo" value="https://photos.app.goo.gl/EJBZowT3ttbWJFJa9" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.net>
    <!-- Modificar la configuración del servidor para el envío de correo electrónico  https://myaccount.google.com/lesssecureapps?pli=1&rapt=AEjHL4Nsoy2_x3RKMJhZt7iB3VWyb8FWDzWh5suNrUJJaO2puJX5VPiZN_vIgDSLSprUumdN1i1VD1kmQ-ATPQ1aY5y01hXEBQ -->
    <mailSettings>
      <smtp deliveryMethod="Network" from="xxxxxx">
        <network host="xxxx" port="xxxx" defaultCredentials="false" userName="xxxx" password="xxxxx" enableSsl="true" />
      </smtp>
    </mailSettings>
    <!-- Fin configuración de servidor de correo electrónico -->
  </system.net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
